{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--{% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>.
        {% else %}
            Not signed in.
        {% endif %}-->
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="container-fluid my-2">
                <div class="navbar-header">
                    <h2 class="pr-5">Auctions</h2>
                </div>
                <!--{% if user.is_authenticated %}
                    <p>Signed in as <strong>{{ user.username }}</strong>.</p>
                {% else %}
                    Not signed in.
                {% endif %}-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="btn btn-default" href="{% url 'index' %}">Active Listings</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="btn btn-default" href="{% url 'logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="btn btn-default" href="{% url 'create' %}">Create a New Listing</a></li>
                        <li class="nav-item"><a class="btn btn-default" href="{% url 'categories' %}">Categories</a></li>
                        <li class="nav-item"><a class="btn btn-default" href="{% url 'displayWatchlist' %}">Watchlist</a></li>
                    {% else %}
                        <li class="nav-item"><a class="btn btn-default" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="btn btn-default" href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <div style="max-width: 300px; min-width: 200px;">
                {% if user.is_authenticated %}
                    <p>Signed in as <strong>{{ user.username }}</strong>.</p>
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
        </nav>
        <!--<hr>-->
        <div class="p-3">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>